*,            
*::after
*::before {
margin: 0%;
padding: 0%;
box-sizing: border-box;
}

ul {
list-style: none;

}

span {
font-size: 40px;
color: white;

}

.title {
font-size: 40px;

}

.form {
width: 500px;
border: 1px solid black;

}

.form input {
width: 100%;
background: white;
margin-top: 10px;

}

.Tenis{
height: 500px;
background-image: url('./img/Image.png');
background-repeat: no-repeat;
background-size: no-repeat;                

}

.contato {
font-size: 30px;

}
            
            

body{
background: white;
font-family:'Lato'; sans-serift;

}